Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.font: xft:Meslo LG S for Powerline:size=8
URxvt.scrollBar: false

urxvt.background:   #2d2d2d
urxvt.foreground:   #d1d1d1
urxvt.cursorColor:  #d1d1d1
urxvt.color0:   #161616
urxvt.color8:   #2d2d2d
urxvt.color1:   #d5674c
urxvt.color9:   #e5a493
urxvt.color2:   #4cd567
urxvt.color10:  #93e5a4
urxvt.color3:   #b9d54c
urxvt.color11:  #d5e593
urxvt.color4:   #674cd5
urxvt.color12:  #a493e5
urxvt.color5:   #d54cb9
urxvt.color13:  #e593d5
urxvt.color6:   #4cb9d5
urxvt.color14:  #93d5e5
urxvt.color7:   #aaaaaa
urxvt.color15:  #d1d1d1
