Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.font: xft:Meslo LG S for Powerline:size=8
URxvt.scrollBar: false

urxvt.background:   #303030
urxvt.foreground:   #b3b3b3
urxvt.cursorColor:  #b3b3b3
urxvt.color0:   #1d1d1d
urxvt.color8:   #2e2e2e
urxvt.color1:   #d67f5c
urxvt.color9:   #eabfae
urxvt.color2:   #5cd67f
urxvt.color10:  #aeeabf
urxvt.color3:   #b3d65c
urxvt.color11:  #d9eaae
urxvt.color4:   #7f5cd6
urxvt.color12:  #bfaeea
urxvt.color5:   #d65cb3
urxvt.color13:  #eaaed9
urxvt.color6:   #5cb3d6
urxvt.color14:  #aed9ea
urxvt.color7:   #b3b3b3
urxvt.color15:  #fdfdfd
